
.navbarExampleTitle {
	text-align: center;
}

.navbarExample {
	position: absolute;
	margin-left: 30%;
	border-bottom: 2px solid darkgrey;
	text-align: center;
	background-color: lightgrey;
}

.popupRendererContainer {
	margin-left: 30%;
}

.navLink {
	background-color: white;
	padding: 100px;
	padding-bottom: 200px;
	font-size: 20em;
	border: 20px solid black;
}