
.menu {
	position: absolute;
	z-index: 1000;
	top: 10%;
	left: 5%;
	background: white;
	border: 2px solid black;
	border-radius: 10px;
	padding: 20px;
	font-family: 'Poiret One', cursive;

	button {
		font-family: 'Alegreya', serif;
		padding: 10px;
		border-radius: 10px;
		background-color: white;
		display: block;
		margin: 20px auto;
	}

	.highScoreContainer {
		text-align: center;
	}
}


keyframes soundwave {
	from {width: 800px;height: 800px;border: 100px solid yellow;opacity:0.7}
	to {width: 1800px;height: 1800px;border: 10px solid white;opacity:0.2}
}

@-webkit-keyframes soundwave {
	from {width: 800px;height: 800px;border: 100px solid yellow;opacity:0.7}
	to {width: 1800px;height: 1800px;border: 10px solid white;opacity:0.2}
}

.soundWave {
	border-radius: 50%;
	width: 800px;
	height: 800px;
	border: 100px solid white;
	animation-name: soundwave;
	animation-duration: 0.4s;
	-webkit-animation-name: soundwave;
	-webkit-animation-duration: 0.4s;
	animation-iteration-count: 2;
	-webkit-animation-iteration-count: 2;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}