
.title {
	padding: 40px;
	text-align: center;
	background-color: steelblue;
	color: white;
	border-bottom: 2px solid darkgrey;

	.logo {
		font-size: 3em;
		font-family: 'Lobster', cursive;
	}
}

.section-title {
	font-size: 1.6em;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: bold;
}

.navbar {
	display: block;
	border-bottom: 2px solid darkgrey;
	padding: 25px;
	text-align: center;
	background-color: lightgrey;

	.navbtn {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	button {
		font-family: 'Poiret One', cursive;
		font-size: 1.3em;
		padding: 5px;
		margin: 0 120px;
		width: 120px;
		height: 60px;
		background-color: white;
		border: 2px solid steelblue;

		&:hover {
			color: white;
			background-color: steelblue;
			border: 2px solid darkgrey;
		}
	}
}

.description {
	text-align: center;
	font-size: 1.3em;
	font-family: 'Alegreya', serif;
	width: 60%;
	margin: 0 auto;
	padding: 20px;

	.description-text {
		a {
			color: black;
		}
	}
}

.install {
	width: 100%;
	margin-bottom: 80px;

	.install-image{
		margin: 20px;
		display: inline-block;
		width: 35%;

		img {
			width: 90%;
		}
	}

	.install-info {
		width: 50%;
		display: inline-block;
		border-left: 2px solid lightgrey;
		padding: 30px;

		.install-info-description {
			font-size: 1.1em;
			font-family: 'PT Sans Narrow', sans-serif;
		}

		.install-info-code {
			background-color: lightgrey;
			font-family: 'PT Sans Narrow', sans-serif;
			padding: 15px;
		}
	}
}

.docs {
	width: 100%;

	.docs-info {
		width: 55%;
		margin-left: 0;
		border-right: 2px solid lightgrey;
		padding: 30px;
		display:inline-block;
	}

	.docs-info-description {
		font-size: 1.1em;
		font-family: 'PT Sans Narrow', sans-serif;

		.docs-link {
			color: steelblue;
		}
	}

	.docs-info-content {
		font-family: 'PT Sans Narrow', sans-serif;
		.docs-info-content-header {
			font-size: 1.3em;
			font-weight: bold;
		}

		.docs-info-content-header-small {
			font-size: 1.2em;
		}

		.userfunction-desc {
			padding: 20px;
		}

		code {
			background-color: lightgrey;
			padding: 5px;
		}
	}

	.docs-image {
		width: 30%;
		display: inline-block;
		margin-top: 0;
		float: right;
		padding-top: 5%;
		padding-right: 5%;
		img {
			width: 100%;
			border: 2px solid black;
			margin-bottom: 350px;
		}
	}
}

.examples {
	text-align: center;
	.links-container {
		text-align: center;
		width: 80%;
		margin: 0 auto;

		.link-container-description {
			font-family: 'Poiret One', cursive;
			font-size: 1.8em;
		}

		a {
			text-decoration: none;
			height: 100%;
			color: black;
		}

		.example-link {
			width: 200px;
			height: 100px;
			margin: 20px auto;
			display: inline-block;
		}

		.spotifly-link {
			border: 2px solid black;
			background-color: #B2D72C;
		}

		.test-link {
			border: 2px solid black;
			background-color: steelblue;
			a {
				color: white;
			}
		}

		.navbar3d-link {
			border: 2px solid black;
		}

		.followThis-link {
			border: 2px solid black;
			background-color: tomato;
			p {
				color: white;
			}
		}
	}
}

@media (max-width: 1060px) {
  .install {
  	text-align: center;
	.install-image {
		width: 85%;
		text-align: center;
		img {
	  		width: 350px;
		    margin: 0 auto;
	  	}
	}
  	.install-info {
  		width: 70%;
  		text-align: center;
  		padding: 0 15%;
  	}
  }

  .docs {
  	.docs-info {
  		width: 83%;
  		border: none;
  	}
  	.docs-image {
  		display: none;
  	}
  }
}