
 .spotiflyTitle {
 	position: absolute;
 	z-index: 1000;
 	top: 20px;
 	left: 45%;
 	margin: auto;
 	border: 2px solid black;
 	border-radius: 10px;
 	padding: 5px;
 	background-color: #B2D72C;
 }

 .spotiflyContainer {
 	width: 35%;
 	height: 450px;
 	margin: 150px auto;
 	border-radius: 10px;
 	.searchContainer{
 		text-align: center;
 		width: 75%;
 		margin: 10px auto;
		input {
			display: block;
			margin: 50px auto;
			padding: 10px;
			width: 80%;
			border-radius: 25px;
		}
		.searchButton {
			margin-bottom: 50px;
			width: 100px;
			height: 50px;
			border-radius: 5px;
			font-size: 1.7em;
			color: #B2D72C;
			background-color: black;

			&:hover {
				color: black;
				background-color: #B2D72C;
			}
		}
 	}

 	.playContainer {
 		text-align: center;
 		width: 100%;
 		height: 100%;
 		padding: 10px auto;
 		background-color: white;
 		border: 4px solid black;
 		border-radius: 20px;

 		.playImage {
 			width: 200px;
 			margin: 20px 0;
 			border: 2px solid black;
 			border-radius: 5px;
 		}

 		p,h1,h2,h3,h4,h5,h6 {
 			font-size: 1.3em;
 			padding: 20px;
 			font-family: 'PT Sans Narrow', sans-serif;
 		}
 	}
 }