 body {
	margin: 0;
	padding: 0;
 }

 .infoBox {
 	padding: 50px;
	border: 20px solid black !important;
	border-radius: 100px;
	font-size: 40em;
	background-color: white;
 	img {
		text-align: center;
		display: inline-block;
 	}
 }
