doctype html
html(lang="en-US")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title 3Datajs
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="css/main.css")

    body
        //- nav arrow icons
        <i class="nav-icon-left nav-icon-left-white fa fa-caret-square-o-left"></i>
        <i class="nav-icon-right nav-icon-right-white fa fa-caret-square-o-right"></i>
        //- nav section icons
        <i class="nav-icon-home fa fa-home"></i>
        <i class="nav-icon-projects fa fa-briefcase"></i>
        <i class="nav-icon-info fa fa-cubes"></i>
        <i class="nav-icon-links fa fa-comment-o"></i>
        //- project descriptions
        .projectDescriptionsContainer.hidden
            <i class="closeProjectDescription fa fa-times-circle-o"></i>
            p.threedatajsDescription.hidden 3Datajs is a small, customizable javascript library
                | used to quickly implement 3D visualizations of data and html content.
                | It is built upon the threejs 3D library.
            p.terminalColorCaptureDescription.hidden Terminal Color Capture is a command line
                | ruby program that allows a user to easily create, edit, activate, delete
                | and automate both the standard terminal prompt colors as well as the colors
                | shown in `ls` listing.
            p.spaceRaceDescription.hidden Written in collaboration with Jacob Lewis,
                | Tyler Black, Kyle McCormick, and Ben Taylor, this phaser/nodejs four player
                | game allows the users to once again compete in the cold war race to space
                | domination.
        // [if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]
        script(src="vendor/jquery/dist/jquery.min.js")
        script(src="vendor/lodash/lodash.min.js")
        script(src="vendor/threejs/build/three.min.js")
        script(src="vendor/threejs/build/renderers/CanvasRenderer.js")
        script(src="vendor/threejs/build/renderers/CSS3DRenderer.js")
        script(src="vendor/threejs/build/renderers/Projector.js")
        script(src="vendor/threejs/build/controls/OrbitControls.js")
        script(src="vendor/threejs/build/Detector.js")
        script(src="js/3data.js")
        script(src="https://code.createjs.com/tweenjs-0.6.1.min.js")
        script(src="js/personalSite.js")