doctype html
html(lang="en-US")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title 3Datajs
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="css/main.css")

    body
        //- nav arrow icons
        <i class="nav-icon-left nav-icon-left-white fa fa-caret-square-o-left"></i>
        <i class="nav-icon-right nav-icon-right-white fa fa-caret-square-o-right"></i>
        <i class="nav-icon-up nav-icon-up-white fa fa-caret-square-o-up"></i>
        //- nav section icons
        <i class="nav-icon-home fa fa-home"></i>
        <i class="nav-icon-projects fa fa-briefcase"></i>
        //- project descriptions
        .projectsHeader.hidden PROJECTS
        .projectDescriptionsContainer.hidden
            <i class="closeProjectDescription fa fa-times-circle-o"></i>
            p.threedatajsDescription.hidden 3Datajs is a small, customizable javascript library
                | used to quickly implement 3D visualizations of data and html content.
                | It is built upon the threejs 3D library.
            p.terminalColorCaptureDescription.hidden Terminal Color Capture is a command line
                | ruby program that allows a user to easily create, edit, activate, delete
                | and automate both the standard terminal prompt colors as well as the colors
                | shown in `ls` listing.
            p.spaceRaceDescription.hidden Written in collaboration with Jacob Lewis,
                | Tyler Black, Kyle McCormick, and Ben Taylor, this phaser/nodejs four player
                | game allows the users to once again compete in the cold war race to space
                | domination.
        //- info descriptions
        .infoHeader.hidden INFO
        .infoDescriptionsContainer.hidden
            .backgroundDescription.hidden
                ul.background-list
                  li Born in Mobile, AL
                  li Undergraduate degree in Economics from Vanderbilt University
                  li Masters in Accounting from University of Georgia
                  li 3 years experience in implementing and training on ERP systems
                  li Attended intensive 6 month program for full stack web development
                  li Currently located in Nashville, TN
            .skillsDescription.hidden
                ul.skills-list
                  li
                    img(src="https://s3.amazonaws.com/edean11.github.io/logos/HTML5_Logo.png")
                  li
                    img(src="https://s3.amazonaws.com/edean11.github.io/logos/css3-logo.png")
                  li
                    img(src="https://s3.amazonaws.com/edean11.github.io/logos/JavaScript-logo.png")
                  li
                    img(src="https://s3.amazonaws.com/edean11.github.io/logos/jquery-logo.jpg")
                  li
                    img(src="https://s3.amazonaws.com/edean11.github.io/logos/three_logo.jpg")
                  li
                    img(src="https://s3.amazonaws.com/edean11.github.io/logos/nodejs-green.png")
                  li
                    img(src="https://s3.amazonaws.com/edean11.github.io/logos/Ruby_logo.png")
                  li
                    img(src="https://s3.amazonaws.com/edean11.github.io/logos/Ruby_on_Rails.png")
                  li
                    img(src="https://s3.amazonaws.com/edean11.github.io/logos/bower_logo.png")
                  li
                    img(src="https://s3.amazonaws.com/edean11.github.io/logos/grunt_logo.png")
                  li
                    img(src="https://s3.amazonaws.com/edean11.github.io/logos/gulp-logo.png")
                  li
                    img(src="https://s3.amazonaws.com/edean11.github.io/logos/SQLite.png")
                  li
                    img(src="https://s3.amazonaws.com/edean11.github.io/logos/Microsoft-SQL-Server.jpg")
            .interestsDescription.hidden
                ul.interests-list
                  li Multi-instrumentalist (e.g. guitar, piano, drums etc.)
                  li 3D Printing and Woodworking
                  li Electronics projects
                  li Philosophy and Economics
        <i class="closeInfoDescription fa fa-times-circle-o hidden"></i>
        .linksHeader.hidden LINKS
        // [if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]
        script(src="vendor/jquery/dist/jquery.min.js")
        script(src="vendor/lodash/lodash.min.js")
        script(src="vendor/threejs/build/three.min.js")
        script(src="vendor/threejs/build/renderers/CanvasRenderer.js")
        script(src="vendor/threejs/build/renderers/CSS3DRenderer.js")
        script(src="vendor/threejs/build/renderers/Projector.js")
        script(src="vendor/threejs/build/controls/OrbitControls.js")
        script(src="vendor/threejs/build/Detector.js")
        script(src="js/3data.js")
        script(src="https://code.createjs.com/tweenjs-0.6.1.min.js")
        script(src="js/personalSite.js")