doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title 3Data Projects
    link(rel="stylesheet" href="css/main.css")

  body
    h1.spotiflyTitle Spotifly
    .spotiflyContainer
        .searchContainer
            input(placeholder="album").searchInputAlbum
            input(placeholder="artist").searchInputArtist
            input(placeholder="track").searchInputTrack
            button.searchButton.
                Search
        .playContainer.hidden
    //- h1.wikimapTitle WikiMap
    //- .wikimapContainer
    //-     .searchContainer
    //-         input(placeholder="search 1").searchWikiInput.searchWiki1
    //-         input(placeholder="search 2").searchWikiInput.searchWiki2
    //-         input(placeholder="search 3").searchWikiInput.searchWiki3
    //-         button.wikiSearchButton.
    //-             Search
    // [if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]
    script(src="vendor/jquery/dist/jquery.min.js")
    script(src="vendor/lodash/lodash.min.js")
    script(src="vendor/threejs/build/three.min.js")
    script(src="vendor/threejs/build/renderers/CanvasRenderer.js")
    script(src="vendor/threejs/build/renderers/CSS3DRenderer.js")
    script(src="vendor/threejs/build/renderers/Projector.js")
    script(src="vendor/threejs/build/controls/OrbitControls.js")
    script(src="vendor/threejs/build/Detector.js")
    script(src="js/3data.js")
    script(src="js/spotifly.js")
