doctype html
html(lang="en-US")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title 3Datajs
		link(rel="stylesheet" href="css/main.css")

	body
		// [if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]
		script(src="vendor/jquery/dist/jquery.min.js")
		script(src="vendor/lodash/lodash.min.js")
		script(src="vendor/threejs/build/three.min.js")
		script(src="vendor/threejs/build/renderers/CanvasRenderer.js")
		script(src="vendor/threejs/build/renderers/CSS3DRenderer.js")
		script(src="vendor/threejs/build/renderers/Projector.js")
		script(src="vendor/threejs/build/controls/OrbitControls.js")
		script(src="vendor/threejs/build/Detector.js")
		script(src="js/3data.js")
		script(src="js/test.js")